<% layout("layouts/boilerplate") %>
    <div class="container">
        <div class="card mb-3 movie-show-card p-2 m-2">
            <div class="row justify-content-center">
                <div class="col-10 col-sm-8 col-md-4">
                    <img src="<%=movie.poster_path%>" class="img-fluid rounded" alt="movie poster">
                </div>
                <div class="col-10 col-sm-8 col-md-8">
                    <div class="card-body border-0">
                        <h3 class="card-title mb-3">
                            <%=movie.title%>
                        </h3>
                        <% if(movie.adult) {%>
                            <img src="/assets/icons/no-one-under-18-48.png" class="img-fluid mb-2"
                                alt="restricted to adults">
                            <% }%>
                                <form action="<%=userRoutes.favourites.pageRoute%>/<%=movie.id%>?_method=PUT"
                                    method="POST">
                                    <input type="hidden" id="id" name="id" value=<%=movie.id%> >
                                    <%if(currUser !==null && currUser.favouriteMovies.includes(movie.id)) {%>
                                        <button id="favourite" class="bi bi-star-fill mb-2 p-0" type="submit"
                                            style="color: gold;">
                                        </button>
                                        <% } else { %>
                                            <button id="favourite" class="bi bi-star mb-2 p-0" type="submit">
                                            </button>
                                            <% } %>
                                </form>
                                <h6 class="card-subtitle text-muted mb-3">
                                    Rating: <%=movie.vote_average%>
                                </h6>
                                <h6 class="card-subtitle text-muted mb-3">
                                    Release Date: <%=movie.release_date%>
                                </h6>
                                <p class="card-text">
                                    <%=movie.overview%>
                                </p>
                    </div>
                </div>
            </div>
        </div>
    </div>